footer{
	background: $secondary;
	color: #fff;
	padding: 4vmax 0;
	box-sizing: border-box;

	& a{
		color: #fff;

		&:hover{
			text-decoration: underline;
			text-decoration-thickness: 1px;
			text-underline-offset: 4px;

			& i{
				color: #fff;
			}
		}
	}

	& i.bx{
		margin-right: 10px;
		color: rgba(#fff, .7);
	}

	& .footer-header{
		font-weight: 700;
		font-size: clamp(18px, 1vmax, 21px);
	}

	& ul, & p{
		margin: 0;
	}

	@media(max-width: $extra-large){

		& .cookies{
			order: 1;
		}
	}

	& .col{
		margin-bottom: $gutter-width;
	}

	& ~ .footer-copyright{
		background-color: #0077ff;
		color: #fff;
		padding: 20px;
		
		& a{
			color: #fff;

			& strong{
				font-weight: 800;
			}
		}
	}
}